appnope==0.1.0
asgiref==1.0.1
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.1.1
click==6.7
constantly==15.1.0
coreapi==2.3.0
coreschema==0.0.4
cycler==0.10.0
Cython==0.25.2
daphne==1.1.0
decorator==4.0.11
Django==1.10.6
django-filer==1.2.7
django-filter==1.0.1
django-mptt==0.8.7
django-polymorphic==1.0.2
django-rest-swagger==2.1.2
django-webpack-loader==0.4.1
djangorestframework==3.6.2
easy-thumbnails==2.3
Flask==0.12
incremental==16.10.1
ipython==5.2.1
ipython-genutils==0.1.0
itsdangerous==0.24
itypes==1.1.0
Jinja2==2.9.5
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==1.5.3
nltk==3.2.2
numpy==1.11.2
olefile==0.44
openapi-codec==1.3.1
pandas==0.19.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.10
ptyprocess==0.5.1
pydub==0.18.0
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
rfd-discovery==0.0.1
scipy==0.18.1
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
tornado==4.4.2
traitlets==4.3.1
Twisted==17.1.0
txaio==2.6.1
Unidecode==0.4.20
uritemplate==3.0.0
wcwidth==0.1.7
Werkzeug==0.11.15
zope.interface==4.3.3
