{% extends "polls/base.html" %}

{% block title %}
    Detail page for {{ question.id }}
{% endblock %}

{% block maincontent %}
            <h2>{{ question.question_text }}</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
            <div class="radio">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                    <label class="label label-default" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> <br />
                {% endfor %}
            </div>

            <input type="submit" value="Vote"/>
        </form>
{% endblock %}